<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="saveCategory()"
          [formGroup]="CategoryForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="categoryNameId">Book Category Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="categoryNameId"
                 type="text"
                 placeholder="Name (required)"
                 formControlName="categoryName"
                 [ngClass]="{'is-invalid':  
                 (CategoryForm.get('categoryName').touched || CategoryForm.get('categoryName').dirty)
                  && !CategoryForm.get('categoryName').valid }" />
          <span class="invalid-feedback">
            
              <span *ngIf="CategoryForm.get('categoryName').errors?.required">
                Please enter category Name
              </span>
              <span *ngIf="CategoryForm.get('categoryName').errors?.minlength">
                The CategoryName  must be longer than 3 characters.
              </span>
              <span *ngIf="CategoryForm.get('categoryName').errors?.maxlength">
                The CategoryName  must not be longer than 150 characters.
              </span>
            
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="categoryCodeId">Book Category Code</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="categoryCodeId"
                 type="text"
                 placeholder="Code (required)"
                 formControlName="categoryCode"
                 [ngClass]="{'is-invalid':  
                 (CategoryForm.get('categoryCode').touched || CategoryForm.get('categoryCode').dirty)
                  && !CategoryForm.get('categoryCode').valid }" />

                  <span class="invalid-feedback">
                    <span *ngIf="CategoryForm.get('categoryCode').errors?.required">
                      Please enter category Code
                    </span>
                </span>
        </div>
      </div>

      

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  style="width:80px;"
                  type="submit"
                  [title]="CategoryForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!CategoryForm.valid">
            Save
          </button>
          <button class="btn btn-outline-secondary mr-3"
                  style="width:80px;"
                  type="button"
                  title="Cancel your edits"
                  [routerLink]="['/bookCategory']">
            Cancel
          </button>
          <button class="btn btn-outline-warning"
                  style="width:80px"
                  type="button"
                  title="Delete this Category"
                  (click)="deleteCategory()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
 Valid: {{CategoryForm.valid}}

  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>
