<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div>
    <h1>
        <nav class='navbar navbar-expand navbar-light bg-light'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='navbar-nav'>
              <li class='nav-item'><a class='nav-link' routerLinkActive='active'
                    [routerLink]="['/welcome']">Home</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
                      [routerLink]="['/bookCategory']"> List</a>
                      <a class='dropdown-item' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/bookCategory/0/edit']">Add</a>
                    </div>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Author
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
                      [routerLink]="['/author']"> List</a>
                      <a class='dropdown-item' routerLinkActive='active' [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="['/author/0/edit']">Add</a>
                    </div>
              </li>
             
            </ul>
          </nav>
    </h1>
  </div>

  <router-outlet></router-outlet>
</div>


