<div class="background">
  <img src="./assets/frontPage.jpg" class="img-responsive"/>

  <div class="WelcomeWritting">
    <h2>Welcome to BookMenagement</h2>
    <p>Some authors write books that will stand the test of time. To be fair, probably they didn’t have that in mind when they wrote the books.<br>
       But it is a fact some books have not only stood the test of an age, but for all time.<br>
      There are thousands of books written from the beginning of time till today.
    </p>
    <p>
       But which of these books have had the biggest effect on human history? <br>
       Some of these books fall into the fiction genre, others into science and religion.<br>
        But whatever the genre, they have left their mark on the world and stood the test of time.
      </p>
  </div>
</div>
